html,
body {
	height: 100%;
	font-family: 'Vollkorn', serif;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	// font-family: 'Raleway', sans-serif;
	// font-family: 'Yesteryear', cursive;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}





